.ChangeWallpaper {
  display: flex;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 75%;
  align-items: center;
  justify-content: center;
  height: 148px;
  width: 148px;
  border-radius: 50%;
  background: transparent linear-gradient(132deg, #FFFFFFA3 0%, #FFFFFF8C 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 20px 70px #0000005E;
  border: 1px solid #FFFFFF;
  border-style: none;
  opacity: 1;
}
.ChangeWallpaper > h2 {
  font-family: poppins;
  color: white;
  font-size: 25px;
  font-weight: bold;
}

.img, .pres, .skills, .project {
  display: flex;
  justify-self: start;
  align-self: flex-start;
  cursor: auto;
}
.img .r, .pres .r, .skills .r, .project .r {
  height: 30px;
  width: 30px;
  background-color: #FD5656;
  box-shadow: 0px 3px 6px #00000029;
  border-style: none;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 10px;
  transition: 2ms ease-in-out;
  cursor: pointer;
}
.img .r:hover, .pres .r:hover, .skills .r:hover, .project .r:hover {
  box-shadow: none;
  margin-top: 12px;
}
.img .o, .pres .o, .skills .o, .project .o {
  height: 30px;
  width: 30px;
  background-color: #FDB156;
  box-shadow: 0px 3px 6px #00000029;
  border-style: none;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 7px;
  cursor: pointer;
}
.img .o:hover, .pres .o:hover, .skills .o:hover, .project .o:hover {
  box-shadow: none;
  margin-top: 12px;
}
.img .g, .pres .g, .skills .g, .project .g {
  height: 30px;
  width: 30px;
  background-color: #8DFD56;
  box-shadow: 0px 3px 6px #00000029;
  border-style: none;
  border-radius: 50%;
  margin-top: 10px;
  margin-left: 7px;
  cursor: pointer;
}
.img .g:hover, .pres .g:hover, .skills .g:hover, .project .g:hover {
  box-shadow: none;
  margin-top: 12px;
}

body {
  background: transparent linear-gradient(90deg, #19009B 0%, #00FFFF 100%) 0% 0% padding-box;
  animation: gradient 15s ease infinite;
  background-size: 200% 200%;
  font-family: poppins;
  width: 100%;
  overflow: hidden;
}
body > nav {
  height: 45px;
  width: 100%;
  border-radius: 0px 0px 10px 10px;
  position: relative;
  z-index: 101;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(17px);
  -webkit-backdrop-filter: blur(17px);
  display: flex;
  align-self: top;
  align-items: center;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  font-size: 30px;
}
body > nav > h2 {
  margin: 10px;
  color: white;
}
body > .files {
  cursor: pointer;
}
body > .files > .file1 {
  height: 120px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 10%;
  border: none;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
body > .files > .file1 > h2 {
  margin-top: -10px;
  font-family: poppins;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
body > .files > .file1 > img {
  display: flex;
  width: 70%;
  height: 80%;
}
body > .files > .file2 {
  height: 120px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 15%;
  left: 50%;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}
body > .files > .file2 > h2 {
  margin-top: -10px;
  font-family: poppins;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
body > .files > .file2 > img {
  display: flex;
  width: 70%;
  height: 80%;
}
body > .files > .file3 {
  height: 120px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  bottom: 30%;
  left: 20%;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}
body > .files > .file3 > h2 {
  margin-top: -10px;
  font-family: poppins;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
body > .files > .file3 > img {
  display: flex;
  width: 70%;
  height: 80%;
}
body > .files > .file4 {
  height: 120px;
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  top: 10%;
  left: 80%;
  border-radius: 10px;
  border: none;
  padding-left: 10px;
  padding-right: 10px;
}
body > .files > .file4 > h2 {
  margin-top: -10px;
  font-family: poppins;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
body > .files > .file4 > img {
  display: flex;
  width: 70%;
  height: 80%;
}
body > .img, body .pres, body .skills, body .project {
  height: 0;
  width: 0;
  opacity: 0;
  border: 1px solid white;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 38px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body > .img > h2, body .pres > h2, body .skills > h2, body .project > h2 {
  font-family: poppins;
  display: flex;
  align-self: flex-start;
  justify-self: end;
  color: white;
  font-size: 20px;
  margin-top: 15px;
  position: absolute;
  right: 10px;
}
body > .img > h3, body .pres > h3, body .skills > h3, body .project > h3 {
  font-family: poppins;
  color: black;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  left: 45%;
  bottom: 10%;
  text-align: center;
}
body > .img {
  transition: 0.3s ease;
  position: absolute;
  z-index: 90;
  top: 70px;
  left: 51px;
}
body > .img > .content {
  height: 80%;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 15%;
}
body > .img > .content > img {
  height: 80%;
  width: 100%;
  display: flex;
}
body > .img > .content > .buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-top: 20px;
}
body > .img > .content > .buttons > .CV {
  height: 58px;
  width: 122px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 30px;
  text-decoration: none;
}
body > .img > .content > .buttons > .CV > h4 {
  font-family: poppins;
  font-weight: bolder;
  font-size: 25px;
  color: black;
  margin-right: 5px;
}
body > .img > .content > .buttons > .CV > img {
  margin-left: 5px;
}
body > .img > .content > .buttons > .logos {
  display: flex;
}
body > .img > .content > .buttons > .logos > a {
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
body > .img > .content > .buttons > .logos > a > img {
  width: 58px;
  height: 100%;
}
body > .img > .content > .buttons > .logos > a:hover {
  background-color: white;
}
body > .pres {
  transition: 0.6s ease;
  position: absolute;
  z-index: 90;
  top: 70px;
  right: 551px;
}
body > .pres > .Ycontent {
  height: 60%;
  width: 80%;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  display: flex;
  justify-content: start;
  align-items: flex-start;
  margin: 0 auto;
}
body > .pres > .Ycontent > p {
  font-family: poppins;
  font-size: 25px;
  line-height: 40px;
}
body > .skills {
  transition: 0.6s ease;
  position: absolute;
  z-index: 90;
  bottom: 100px;
  left: 51px;
  display: flex;
}
body > .skills > .skillList {
  height: 0px;
  width: 0px;
  transition: 0.1s ease;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: 150px;
}
body > .skills > .skillList > .HTMLCSS {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 5px solid black;
  padding-right: 50px;
}
body > .skills > .skillList > .HTMLCSS > img {
  margin: 5px;
}
body > .skills > .skillList > .HTMLCSS > .title {
  display: flex;
  flex-direction: row;
}
body > .skills > .skillList > .HTMLCSS > .title > h2 {
  font-family: poppins;
  font-weight: bolder;
  font-size: 25px;
  margin-left: 15px;
  margin-right: 15px;
}
body > .skills > .skillList > .JS {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 5px solid black;
  padding-right: 50px;
}
body > .skills > .skillList > .JS > h2 {
  font-family: poppins;
  font-weight: bolder;
  font-size: 25px;
}
body > .skills > .skillList > .JS > .jsL {
  width: 112.28px;
  height: 108px;
}
body > .skills > .skillList > .JS > img {
  margin: 5px;
}
body > .skills > .skillList > .PHP {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 5px solid black;
  padding-right: 50px;
}
body > .skills > .skillList > .PHP > h2 {
  font-family: poppins;
  font-weight: bolder;
  font-size: 25px;
}
body > .skills > .skillList > .PHP > .phpL {
  width: 190px;
  height: 99.93px;
}
body > .skills > .skillList > .PHP > img {
  margin: 5px;
}
body > .skills > .skillList > .PYTHON {
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 5px solid black;
  padding-right: 50px;
}
body > .skills > .skillList > .PYTHON > h2 {
  font-family: poppins;
  font-weight: bolder;
  font-size: 25px;
}
body > .skills > .skillList > .PYTHON > .pythonL {
  width: 190px;
  height: 99.93px;
}
body > .skills > .skillList > .PYTHON > img {
  margin: 5px;
}
body > .skills > .skillList > .UNITY {
  margin-left: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body > .skills > .skillList > .UNITY > h2 {
  font-family: poppins;
  font-weight: bolder;
  font-size: 25px;
}
body > .skills > .skillList > .UNITY > .unityL {
  width: 190px;
  height: 99.93px;
}
body > .skills > .skillList > .UNITY > img {
  margin: 5px;
}
body > .project {
  transition: 0.6s ease;
  margin: 0 auto;
  margin-top: 1%;
  z-index: 100;
  position: relative;
  z-index: 90;
  background: rgba(255, 255, 255, 0.45);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 38px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body > .project > .projectList {
  display: flex;
  justify-self: center;
  align-self: center;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 25px;
  overflow-y: scroll;
  scrollbar-width: none;
  cursor: auto;
}
body > .project > .projectList > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.65);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  cursor: pointer;
  transition: 3ms ease-in-out;
  position: relative;
}
body > .project > .projectList > div:hover {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: none;
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body > .project > .projectList > div > .MainLogo1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
body > .project > .projectList > div > .MainLogo1 > .logoP1 {
  width: 90%;
  height: 40%;
}
body > .project > .projectList > div > .p1Content {
  width: 100%;
  height: 100%;
  border-radius: 38px;
  display: none;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
body > .project > .projectList > div > .p1Content > span {
  position: absolute;
  top: 2%;
  right: -5%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > .project > .projectList > div > .p1Content > span > img {
  height: 50%;
  width: 50%;
}
body > .project > .projectList > div > .p1Content > h4 {
  font-family: poppins;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
body > .project > .projectList > div > .p1Content > p {
  width: 50%;
  margin: 20px;
  font-family: poppins;
  font-size: 25px;
  line-height: 40px;
}
body > .project > .projectList > div > .p1Content > .git {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  margin: 20px;
}
body > .project > .projectList > div > .p1Content > .git:hover {
  background-color: white;
}
body > .project > .projectList > div > .p1Content > .galerie {
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
body > .project > .projectList > div > .p1Content > .galerie > div {
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body > .project > .projectList > div > .p1Content > .galerie > div > img {
  width: 40%;
  height: 90%;
}
body > .project > .projectList > div > .MainLogo2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body > .project > .projectList > div > .MainLogo2 > .logoP2 {
  width: 90%;
  height: 40%;
}
body > .project > .projectList > div > .MainLogo2 > h5 {
  margin: 0 auto;
  font-family: poppins;
  font-weight: bold;
  font-size: 25px;
}
body > .project > .projectList > div > .p2Content {
  width: 100%;
  height: 100%;
  border-radius: 38px;
  display: none;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
body > .project > .projectList > div > .p2Content > span {
  position: absolute;
  top: 4%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > .project > .projectList > div > .p2Content > span > img {
  height: 100%;
  width: 100%;
}
body > .project > .projectList > div > .p2Content > h4 {
  font-family: poppins;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
body > .project > .projectList > div > .p2Content > p {
  width: 50%;
  margin: 20px;
  font-family: poppins;
  font-size: 25px;
  line-height: 40px;
}
body > .project > .projectList > div > .p2Content > .git {
  height: 58px;
  width: 58px;
  border-radius: 50%;
  margin: 20px;
}
body > .project > .projectList > div > .p2Content > .git:hover {
  background-color: white;
}
body > .project > .projectList > div > .p2Content > .galerie2 {
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
body > .project > .projectList > div > .p2Content > .galerie2 > div {
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  margin: 50px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body > .project > .projectList > div > .p2Content > .galerie2 > div > img {
  width: 100%;
  height: 60%;
}
body > .project > .projectList > div > .p2Content > .galerie2 > div .draco {
  width: 70%;
  height: 100%;
}
body > .project > .projectList > div > .MainLogo3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body > .project > .projectList > div > .MainLogo3 > .logoP3 {
  width: 90%;
  height: 40%;
}
body > .project > .projectList > div > .MainLogo3 > h5 {
  margin: 0 auto;
  font-family: poppins;
  font-weight: bold;
  font-size: 25px;
}
body > .project > .projectList > div > .p3Content {
  width: 100%;
  height: 100%;
  border-radius: 38px;
  display: none;
  justify-content: start;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
}
body > .project > .projectList > div > .p3Content > span {
  height: 50px;
  width: 68px;
  position: absolute;
  top: 4%;
  right: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}
body > .project > .projectList > div > .p3Content > span > img {
  height: 100%;
  width: 100%;
}
body > .project > .projectList > div > .p3Content > h4 {
  font-family: poppins;
  font-size: 65px;
  font-weight: bold;
  text-align: center;
  margin: 20px;
}
body > .project > .projectList > div > .p3Content > p {
  width: 50%;
  margin: 20px;
  font-family: poppins;
  font-size: 25px;
  line-height: 40px;
}
body > .project > .projectList > div > .p3Content > .galerie3 {
  width: 90%;
  height: 35%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0 auto;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
}
body > .project > .projectList > div > .p3Content > .galerie3 > div {
  width: 20%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 38px;
  margin: 50px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}
body > .project > .projectList > div > .p3Content > .galerie3 > div > img {
  width: 100%;
  height: 80%;
}
body > .project > .projectList > div > .p3Content > .galerie3 > div > .stretch {
  width: 90%;
  height: 100%;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*# sourceMappingURL=style.css.map */
