> nav {
  padding-top: 5vh;
  padding-left: 6vh;
}

.menu .menu1, .menu .menu2 {
  color: white;
  margin-right: 50px;
  font-size: 25px;
  padding: 13px;
  padding-left: 20px;
  padding-right: 20px;
  transition: all 0.4s ease-out;
  cursor: pointer;
}
.menu :hover {
  color: grey;
}
.menu :link {
  text-decoration: none;
}

.hamburger {
  position: relative;
  display: block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  align-self: center;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  opacity: 0%;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  background-color: #fff;
  margin: 6px -35px;
  margin-top: 0px;
  transition: 0.4s;
}

.closeHamburger {
  background: none;
  border: none;
  width: 35px;
  height: 35px;
  opacity: 0%;
}
.closeHamburger .closeButton {
  height: 100%;
  width: 100%;
  object-fit: cover;
  color: white;
}

.burgMenu1, .burgMenu2 {
  opacity: 0%;
}

.burgTitle1, .burgTitle2 {
  opacity: 0%;
}

@media screen and (max-width: 1137px) {
  .hamburger {
    opacity: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.helloThere {
  display: flex;
}
.helloThere .title {
  font-size: 45px;
  margin-top: 100px;
  margin-left: 80px;
  text-align: left;
}

.webLearner {
  display: flex;
}
.webLearner h3 {
  font-size: 30px;
  margin-top: 14px;
  margin-left: 80px;
  text-align: left;
}

.photo {
  display: flex;
  justify-content: end;
  z-index: 1;
}
.photo .pp {
  position: relative;
  width: 742px;
  height: 494px;
  top: -150px;
  margin: 70px;
  border-radius: 45px;
  z-index: 1;
}

@media screen and (max-width: 1137px) {
  .helloThere {
    margin-right: 20px;
  }

  .webLearner {
    margin-right: 20px;
  }

  .photo {
    display: flex;
    justify-content: center;
  }
  .photo .pp {
    width: 426px;
    height: 284px;
    position: relative;
    top: 20px;
  }
}
@media screen and (max-width: 1297px) {
  .photo {
    display: flex;
    justify-content: center;
  }
  .photo .pp {
    width: 426px;
    height: 284px;
    position: relative;
    top: 20px;
    margin: 20px;
  }
}
@media screen and (max-width: 1619px) {
  .photo {
    display: flex;
    justify-content: end;
  }
  .photo .pp {
    width: 426px;
    height: 284px;
    position: relative;
  }
}
.skillMap {
  max-width: 100%;
  max-height: 100%;
  display: grid;
  grid-template-rows: 85vh;
  background-image: url(../img/Untitled-1.png);
}

.skill1 {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  top: 400px;
  left: 300px;
}

.skill1:hover .hoverInformation1 {
  transition: 0.5s ease;
}

.hoverInformation1 {
  display: none;
  height: 100px;
  width: 240px;
  border-radius: 20px;
  background-color: white;
  align-items: center;
}

.imageSkill1 {
  height: 90px;
  width: 90px;
  border-radius: 100%;
}
.imageSkill1 .imageS1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bar1 {
  height: 70px;
  width: 20px;
  background-color: #FFDD00;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bar2 {
  height: 70px;
  width: 20px;
  background-color: #FFDD00;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bar3 {
  height: 70px;
  width: 20px;
  background-color: #FFDD00;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bar4 {
  height: 70px;
  width: 20px;
  background-color: #FFDD00;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bar5 {
  height: 70px;
  width: 20px;
  background-color: #FFDD00;
  border: 5px solid #FFDD00;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.skill2 {
  height: 20px;
  width: 20px;
  background-color: white;
  border-radius: 100%;
  border: 2px solid white;
  position: absolute;
  top: 400px;
  left: 800px;
}

.hoverInformation2 {
  display: none;
  height: 100px;
  width: 240px;
  border-radius: 20px;
  background-color: white;
  align-items: center;
}

.imageSkill2 {
  height: 90px;
  width: 90px;
  border-radius: 100%;
}
.imageSkill2 .imageS2 {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bar1_2 {
  height: 70px;
  width: 20px;
  background-color: #FFDD00;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bar2_2 {
  height: 70px;
  width: 20px;
  background-color: #FFDD00;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bar3_2 {
  height: 70px;
  width: 20px;
  background-color: #FFDD00;
  border: 1px solid #FFDD00;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bar4_2 {
  height: 70px;
  width: 20px;
  border: 5px solid #FFDD00;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bar5_2 {
  height: 70px;
  width: 20px;
  border: 5px solid #FFDD00;
  border-radius: 10px;
  margin-left: 8px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.project {
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 270px 270px 270px 270px;
  grid-template-rows: 270px 270px;
  align-items: center;
  justify-content: center;
  gap: 100px;
  margin-top: 50px;
}

.project1 {
  width: 270px;
  height: 270px;
  border-radius: 100px;
}
.project1 :link {
  text-decoration: none;
}

.project2 {
  width: 270px;
  height: 270px;
  border-radius: 100px;
}
.project2 :link {
  text-decoration: none;
}

.project3 {
  width: 270px;
  height: 270px;
  border-radius: 100px;
}
.project3 :link {
  text-decoration: none;
}

.project4 {
  width: 270px;
  height: 270px;
  border-radius: 100px;
}
.project4 :link {
  text-decoration: none;
}

.project5 {
  width: 270px;
  height: 270px;
  border-radius: 100px;
}
.project5 :link {
  text-decoration: none;
}

.project6 {
  width: 270px;
  height: 270px;
  border-radius: 100px;
}
.project6 :link {
  text-decoration: none;
}

.project7 {
  width: 270px;
  height: 270px;
  border-radius: 100px;
}
.project7 :link {
  text-decoration: none;
}

.project8 {
  width: 270px;
  height: 270px;
  border-radius: 100px;
}
.project8 :link {
  text-decoration: none;
}

.ImgProject1 {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 100px;
}
.ImgProject1 :link {
  text-decoration: none;
}

.prjTitle1 {
  text-align: center;
  color: black;
  align-items: center;
}

.name {
  color: white;
  position: absolute;
  left: 0%;
  align-self: center;
  margin-left: 16px;
  font-size: 75px;
}

.responsiveTitle {
  color: white;
  opacity: 0%;
  position: absolute;
  left: 0%;
  align-self: center;
  margin-left: 16px;
  font-size: 75px;
  margin-top: 0px;
}

.navbar1 {
  background-color: black;
  opacity: 81%;
  height: 15vh;
  display: flex;
  justify-content: end;
}
.navbar1 > nav {
  padding-top: 5vh;
  padding-left: 6vh;
}

.navbar2 {
  background-color: #473CDC;
  opacity: 81%;
  height: 15vh;
  display: flex;
  justify-content: end;
  box-shadow: black;
}
.navbar2 > nav {
  padding-top: 5vh;
  padding-left: 6vh;
}

.navbar3 {
  background-color: #EB2727;
  opacity: 81%;
  height: 15vh;
  display: flex;
  justify-content: end;
  box-shadow: black;
}
.navbar3 > nav {
  padding-top: 5vh;
  padding-left: 6vh;
}

@media screen and (max-width: 1137px) {
  h1 {
    display: none;
  }

  .responsiveTitle {
    opacity: 100%;
  }

  .menu {
    display: none;
  }

  .burger {
    position: fixed;
    width: 100%;
    height: 30vh;
    background-color: white;
    z-index: 100;
    opacity: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    color: black;
    border: 3px solid black;
    display: none;
    transition: 1s ease;
  }
  .burger .burgTitle1, .burger .burgTitle2 {
    color: black;
    font-size: 35px;
    opacity: 100%;
  }
  .burger .burgMenu1, .burger .burgMenu2 {
    opacity: 100%;
  }
  .burger :link {
    text-decoration: none;
  }
  .burger .closeHamburger {
    display: flex;
    position: absolute;
    top: 65px;
    right: 40px;
    opacity: 100%;
    cursor: pointer;
  }
}

/*# sourceMappingURL=style.css.map */
