//navbar
$navabar_homepage_color : black;
$navbar_skillspage_color : darkblue;
$navbar_project_page:#FF1919;

$navbar_opacity:81%;
$navbar_height:15vh;




> nav{
    padding-top: 5vh;
    padding-left: 6vh;
}