//navbar
$navabar_homepage_color : black;
$navbar_skillspage_color : #473CDC;
$navbar_project_page:#EB2727;

$navbar_opacity:81%;
$navbar_height:15vh;

$project1_color_navbar : darkviolet;
$project2_color_navbar : #fae101;
$project3_color_navbar :linear-gradient(40deg, #A400CC, #FF810D);



> nav{
    padding-top: 5vh;
    padding-left: 6vh;
}