*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}


section{
    max-width: 1200px;
    max-height: 1200px;

}


.helloThere{
    
    display: flex;
    .title{
        font-size: 45px;
          
    }

}


.webLearner{
    
    display: flex;
    h3{
       
    }
}


.photo{
    width: 300px;
    
    .pp{
        box-sizing: border-box;
        height: 150px;
        border-radius: 25%;
    }
}


