body{
    background: transparent linear-gradient(90deg, #19009B 0%, #00FFFF 100%) 0% 0% padding-box;
    animation: gradient 15s ease infinite;
    background-size: 200% 200%;
    font-family: poppins;
    width: 100%;
    >nav{
        height: 45px;
        width: 100%;
        border-radius: 0px 0px 10px 10px;
        position: relative;
        z-index: 101;
        background: rgba( 255, 255, 255, 0.1 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 17px );
        -webkit-backdrop-filter: blur( 17px );
        display: flex;
        align-self: top;
        align-items: center;
        justify-content: space-between;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        font-size: 30px;
        >h2{
            margin: 10px;
            color: white;
        }

    }
    
    >.files{

        >.file1{
            height: 120px;
            width: 150px;
            display: flex;
            flex-direction: column;          
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 10%;
            left: 10%;
            border: none;
            border-radius: 10px;
            padding-left: 10px;
            padding-right: 10px;
            >h2{
                margin-top: -10px;
                font-family: poppins;
                font-size: 20px;
                font-weight: bold;
                color: white;
                
            }
            >img{
                display: flex;
                width: 70%;
                height: 80%;
            }
        }

        >.file2{
            height: 120px;
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 15%;
            left: 50%;
            border-radius: 10px;
            border: none;
            padding-left: 10px;
            padding-right: 10px;
            >h2{
                margin-top: -10px;
                font-family: poppins;
                font-size: 20px;
                font-weight: bold;
                color: white;
            }
            >img{
                display: flex;
                width: 70%;
                height: 80%;
            }
        }

        >.file3{
            height: 120px;
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            bottom: 30%;
            left: 20%;
            border-radius: 10px;
            border: none;
            padding-left: 10px;
            padding-right: 10px;
            >h2{
                margin-top: -10px;
                font-family: poppins;
                font-size: 20px;
                font-weight: bold;
                color: white;
            
            }
            >img{
                display: flex;
                width: 70%;
                height: 80%;
            }
        }

        >.file4{
            height: 120px;
            width: 150px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            position: absolute;
            top: 10%;
            left: 80%;
            border-radius: 10px;
            border: none;
            padding-left: 10px;
            padding-right: 10px;
            >h2{
                margin-top: -10px;
                font-family: poppins;
                font-size: 20px;
                font-weight: bold;
                color: white;
            
            }
            >img{
                display: flex;
                width: 70%;
                height: 80%;
            }
        }
    }
    >.img, .pres, .skills, .project{
       height: 0;
       width: 0;
       opacity: 0;
       border: 1px solid white;    
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 38px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        resize: both;
        >h2{
            font-family: poppins;
            display: flex;
            align-self: flex-start;
            justify-self: end;
            color: white;
            font-size: 20px;
            margin-top: 15px;
            position: absolute;
            right: 20px;
        }
    }

    >.img{
        transition: 0.3s ease;
        position: absolute;
        z-index: 90;
        top: 70px;
        left: 51px;
        

        
        >.content{
            height: 80%;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 15%;
            >.buttons{
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                margin-top: 20px;
                >img{
                    height: 40%;
                    width: 50%;
                    display: flex;
                    
                }

            

                >.CV{
                    height: 58px;
                    width: 122px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: white;
                    border-radius: 30px;
                    text-decoration: none;
                    >h4{
                        font-family: poppins;
                        font-weight: bolder;
                        font-size: 25px;
                        color: black;
                        margin-right: 5px;
                    }
                    >img{
                        margin-left: 5px;
                    }
                }

                >.logos{
                    display: flex;
                    >a{
                        margin-left: 5px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    >.pres{
        transition: 0.6s ease;
        position: absolute;
        z-index: 90;
        top: 70px;
        right: 551px;
        
        >.Ycontent{
            height: 60%;
            width: 80%;
            position: absolute;
            left: 0;
            right: 0;
            top: 20%;
            display: flex;
            justify-content: start;
            align-items: flex-start;
            margin: 0 auto;
            >p{
              font-family: poppins;
              font-size: 25px;  
              line-height: 40px;
            }
        }

    }

    >.skills{
        transition: 0.6s ease;
        position: absolute;
        z-index: 90;
        bottom: 100px;
        left: 51px;
        display: flex;

        >.skillList{
            height: 0px;
            width: 0px;
            transition: 0.1s ease;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-left: 150px;
            >.HTMLCSS{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                border-right: 5px solid black;
                padding-right: 50px;
                >img{
                    margin: 5px;
                }
                >.title{
                    display: flex;
                    flex-direction: row;
                    >h2{
                        font-family: poppins;
                        font-weight: bolder;
                        font-size: 25px;
                        margin-left: 15px;
                        margin-right: 15px;

                    }
                }
            }
            >.JS{
                
                margin-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-right: 5px solid black;
                padding-right: 50px;
                >h2{
                    font-family: poppins;
                    font-weight: bolder;
                    font-size: 25px;
                }

                >.jsL{
                    width: 112.28px;
                    height: 108px;
                }
                
                >img{
                    margin: 5px;
                }
            }

            >.PHP{
                margin-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-right: 5px solid black;
                padding-right: 50px;
                >h2{
                    font-family: poppins;
                    font-weight: bolder;
                    font-size: 25px;
                }

                >.phpL{
                    width: 190px;
                    height: 99.93px;
                }
                
                >img{
                    margin: 5px;
                }
            }

            >.PYTHON{
                margin-left: 50px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                border-right: 5px solid black;
                padding-right: 50px;
                >h2{
                    font-family: poppins;
                    font-weight: bolder;
                    font-size: 25px;
                }

                >.pythonL{
                    width: 190px;
                    height: 99.93px;
                }
                
                >img{
                    margin: 5px;
                }
            }

            >.UNITY{
                margin-left: 70px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                >h2{
                    font-family: poppins;
                    font-weight: bolder;
                    font-size: 25px;
                }

                >.unityL{
                    width: 190px;
                    height: 99.93px;
                }
                
                >img{
                    margin: 5px;
                }
            }
        }
    }
    >.project{
        transition: 0.6s ease;
        margin: 0 auto; 
        margin-top: 1%;
        z-index: 100;
        position: relative;
        z-index: 90;
        border: 1px solid white;    
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 5px );
        -webkit-backdrop-filter: blur( 5px );
        border-radius: 38px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );

        >.projectList{
            display: flex;
            justify-self: center;
            align-self: center;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            margin-left: 25px;
            overflow-y: scroll;
            scrollbar-width: none; 
            >div{
                display: flex;
                border-radius: 38px;
                margin: 30px;
                background: rgba( 255, 255, 255, 0.65 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 6.5px );
                -webkit-backdrop-filter: blur( 6.5px );
                border: 1px solid rgba( 255, 255, 255, 0.18 );
                cursor: pointer;

                &:hover{
                    background: rgba( 255, 255, 255, 0.25 );
                    box-shadow: none;
                    backdrop-filter: blur( 6.5px );
                    -webkit-backdrop-filter: blur( 6.5px );
                    border: 1px solid rgba( 255, 255, 255, 0.18 );
                }
            }
        }
    }
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}