*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}




.helloThere{
    
    display: flex;
    
    .title{
        font-size: 45px;
          margin-top: 100px;
          margin-left: 80px;
          text-align: left;
    }

}


.webLearner{
    
    display: flex;
    h3{
        font-size: 30px;
        margin-top: 14px;
        margin-left: 80px;
        text-align: left;
    }
}


.photo{
    display: flex;
    justify-content: end;
    z-index: 1;
    
    
    .pp{
        position: relative;
        width: 742px;
        height: 494px;
        
        top: -150px;
        margin: 70px;
        border-radius: 45px;
        z-index: 1;
        
    }
}


@media screen and (max-width : 1137px){
    .helloThere{
        margin-right: 20px;
    }
    .webLearner{
        margin-right: 20px;
    }

    .photo{
        display: flex;
        justify-content: center;
        
        
        
        .pp{
            width: 426px;
            height: 284px;
            position: relative;
            top: 20px;
            
        } 
    }
    
}

@media screen and (max-width : 1297px) {
    .photo{
        display: flex;
        justify-content: center;
        .pp{
            width: 426px;
            height: 284px;
            position: relative;
            top: 20px;
            margin: 20px;
        } 
    }
}
@media screen and (max-width : 1619px) {
    .photo{
        display: flex;
        justify-content: end;

        .pp{
            width: 426px;
            height: 284px;
            position: relative;
        } 
    }
}

//page 3 project
.project{
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;  
    display: grid;
    grid-template-columns: 270px 270px 270px 270px;
    grid-template-rows: 270px  270px;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-top: 50px;

    
    
}

.project1{
    width: 270px;
    height: 270px;
    border-radius: 100px;
    
    :link{
        text-decoration: none;
    }
}

.project2{
    width: 270px;
    height: 270px;
    border-radius: 100px;

    :link{
        text-decoration: none;
    }
    
}

.project3{
    width: 270px;
    height: 270px;
    
    border-radius: 100px;

    :link{
        text-decoration: none;
    }
    
}

.project4{
    width: 270px;
    height: 270px;
    border-radius: 100px;

    :link{
        text-decoration: none;
    }
    
}

.project5{
    width: 270px;
    height: 270px;
    border-radius: 100px;

    :link{
        text-decoration: none;
    }
    
}

.project6{
    width: 270px;
    height: 270px;
    border-radius: 100px;
    
    :link{
        text-decoration: none;
    }
}

.project7{
    width: 270px;
    height: 270px;
    border-radius: 100px;
    
    :link{
        text-decoration: none;
    }
}

.project8{
    width: 270px;
    height: 270px;
    border-radius: 100px;
    
    :link{
        text-decoration: none;
    }
}


.ImgProject1{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 100px;
    
    :link{
        text-decoration: none;
    }
}

.prjTitle1{
    text-align: center;
    color: black;   
    align-items: center;
}