.name{
    color: white;
    position: absolute;
    left: 0%;
    align-self: center;
    margin-left: 16px;
    font-size: 75px;
    ;
}

.responsiveTitle{
    color: white;
    opacity: 0%;
    position: absolute;
    left: 0%;
    align-self: center;
    margin-left: 16px;
    font-size: 75px;
    margin-top: 0px;
}

.navbar1{
    background-color: $navabar_homepage_color;
    opacity: $navbar_opacity;
    height: $navbar_height;
    display: flex;
    justify-content: end;
    

    > nav{
        padding-top: 5vh;
        padding-left: 6vh;
    }

    .navbar2{
        background-color: $navbar_project_page;
    }

    @cli
    
}   


@media screen and (max-width : 1137px) {
    h1{
        display: none;

    }
    .responsiveTitle{
       opacity: 100%;
    
    }
    .menu{
        display: none;
    }
}

//skill page
.navbar2{
    background-color: $navbar_skillspage_color;
    opacity: $navbar_opacity;
    height: $navbar_height;
    display: flex;
    justify-content: end;
    box-shadow: black;

    > nav{
        padding-top: 5vh;
        padding-left: 6vh;
    }
}


//project page


.navbar3{
    background-color: $navbar_project_page;
    opacity: $navbar_opacity;
    height: $navbar_height;
    display: flex;
    justify-content: end;
    box-shadow: black;

    > nav{
        padding-top: 5vh;
        padding-left: 6vh;
    }
}