.name{
    color: white;
    position: absolute;
    left: 0%;
    align-self: center;
    margin-left: 16px;
    font-size: 75px;
    ;
}

.responsiveTitle{
    color: white;
    opacity: 0%;
    position: absolute;
    left: 0%;
    align-self: center;
    margin-left: 16px;
    font-size: 75px;
    margin-top: 0px;
}

.navbar1{
    background-color: $navabar_homepage_color;
    opacity: $navbar_opacity;
    height: $navbar_height;
    display: flex;
    justify-content: end;
    

    > nav{
        padding-top: 5vh;
        padding-left: 6vh;
    }

    
    
}   






//skill page
.navbar2{
    background-color: $navbar_skillspage_color;
    opacity: $navbar_opacity;
    height: $navbar_height;
    display: flex;
    justify-content: end;
    box-shadow: black;

    > nav{
        padding-top: 5vh;
        padding-left: 6vh;
    }
}


//project page


.navbar3{
    background-color: $navbar_project_page;
    opacity: $navbar_opacity;
    height: $navbar_height;
    display: flex;
    justify-content: end;
    box-shadow: black;

    > nav{
        padding-top: 5vh;
        padding-left: 6vh;
    }
}

//project page 1

.navbar4{
    background-color: $project1_color_navbar;
    opacity: $navbar_opacity;
    height: $navbar_height;
    display: flex;
    justify-content: end;
    box-shadow: black;

    > nav{
        padding-top: 5vh;
        padding-left: 6vh;
    }
}




@media screen and (max-width : 1137px) {
    h1{
        display: none;

    }
    .responsiveTitle{
       opacity: 100%;
    
    }
    .menu{
        display: none;
    }

    .burger{
        position: fixed;
        width: 100%;
        height: 30vh;
        background-color: white;
        z-index: 100;
        opacity: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        list-style: none;
        color: black;
        border: 3px solid black;
        display: none;
        transition: 1s ease;
        
        
    .burgTitle1 ,.burgTitle2{
        color: black;
        font-size: 35px;
        opacity: 100%;
    }

    .burgMenu1 , .burgMenu2{
        opacity: 100%;
    }
        
    
        :link{
            text-decoration: none;
        }
    
        .closeHamburger{
            display: flex;
            position: absolute;
            top: 65px;
            right: 40px;
            opacity: 100%;
            cursor: pointer;
            
            
        }
    }
    
   
}