h1{
    color: white;
    position: absolute;
    left: 0%;
    align-self: center;
    margin-left: 16px;
    font-size: 75px;
    ;
}

.responsiveTitle{
    color: white;
    opacity: 0%;
    position: absolute;
    left: 0%;
    align-self: center;
    margin-left: 16px;
    font-size: 75px;
}

header{
    background-image: linear-gradient(-45deg, #FF004B, #4101F5 );
    height: 15vh;
    display: flex;
    justify-content: end;
    box-shadow: black;

    > nav{
        padding-top: 5vh;
        padding-left: 6vh;
    }


    
}   


@media screen and (max-width : 1137px) {
    h1{
        display: none;

    }
    .responsiveTitle{
       opacity: 100%;
    
    }
    .menu{
        display: none;
    }
}
