.menu1, .menu2, .menu3{
    margin-right: 50px;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    font-size: 22px;
    padding: 13px;


    .menu3{
        margin-right: 150px;
    }

    
}

.menu :hover{
    color: black;
    background-color: white;
}
