
.menu{

    .menu1, .menu2{
        color: white;
        margin-right: 50px;
        font-size: 25px;
        padding: 13px;
        padding-left: 20px;
        padding-right: 20px;
        transition: all 0.4s ease-out;
        cursor: pointer;
        
    }
    
    :hover{ 
        color: grey;
    }
    :link{
        text-decoration: none;
    }
}


.hamburger{
    position: relative;
    display: block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    
    align-self: center;

    appearance: none;
    border: none;
    outline: none;
    background: none;
    opacity: 0%;
  
}



.hamburger .bar, .hamburger:after, .hamburger:before{
    content: '';
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px -35px;
    margin-top: 0px;
    transition: 0.4s;
}

.closeHamburger{
    background: none;
    border: none;
    width: 35px;
    height: 35px;
    opacity: 0%;
    
    .closeButton{
         height: 100%;
         width: 100%;
         object-fit: cover;
         color: white;    
     }
}

.burgMenu1 , .burgMenu2{
    opacity: 0%;
}

.burgTitle1 ,.burgTitle2{  
    opacity: 0%;
}


@media screen and (max-width : 1137px) {
   .hamburger{
    opacity: 100%;
   } 
}
